@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@using MyBlog.Services.Utilities;
@model MyBlog.Mvc.Areas.Admin.Models.SingleModels.PartialButtonsModel

<div class="form-group row justify-content-center">
    <button id="btnUpdate" type="submit" class="btn btn-primary btn-block col-md-4 float-left mr-1 mt-4">Kaydet</button>
    @if (Model.TableType == TableReturnTypesConstants.DeletedTables)
    {
        <button class="btn btn-danger btn-sm btn-delete col-md-4 ml-1 mt-4" data-id="@Model.Id" data-dismiss="modal" data-tableType="@Model.TableType">
            Kalıcı olarak Sil
        </button>
    }
    else if (Model.TableType == TableReturnTypesConstants.NonDeletedTables)
    {
        <button class="btn btn-danger btn-sm btn-delete col-md-4 ml-1 mt-4" data-id="@Model.Id" data-dismiss="modal" data-tableType="@Model.TableType">
            Sil
        </button>
    }
    @if (Model.TableType == TableReturnTypesConstants.DeletedTables)
    {
        <a class="btn btn-warning btn-sm btn-undo" data-id="@Model.Id" data-dismiss="modal"><span class="fas fa-undo"></span></a>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal"> <span class="fas fa-times"></span>İptal</button>
</div>


