
@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@using MyBlog.Shared.Utilities.Results.ComplexTypes;
@model MyBlog.Entities.Dtos.PaymentDtos.PaymentListDto;
@{
    Layout = "_Layout";
    ViewBag.Title = "Satışlar";
}

@await Component.InvokeAsync("BreadCrumbs", new BreadCrumbsViewModel
{
        Depth = 2,
        Controller = "Payment",
        Action = "Yok",
        ActionTR = "Yok",
        TableType = ViewBag.TableType
})
@if (Model.ResultStatus == ResultStatus.Success)
{

    <input type="hidden" id="tableType" value="@ViewBag.TableType" />
    <div id="modalPlaceHolder" aria-hidden="true"></div> @*id verme sebebimiz, divi seçip divin içine partial view verecek olmamısz*@
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Satışlar
        </div>
        <div class="card-body">
            <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Yükleniyor...</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="paymentsTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ödeme Tutarı</th>
                            <th>ID | Personel</th>
                            <th>ID | Hasta</th>
                            <th>Ödeme Tipi</th>
                            <th>Ödeme Durumu</th>
                            <th>ID | Ürün Adı</th>
                            <th>Açıklama</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Ödeme Tutarı</th>
                            <th>ID | Personel</th>
                            <th>ID | Hasta</th>
                            <th>Ödeme Tipi</th>
                            <th>Ödeme Durumu</th>
                            <th>ID | Ürün Adı</th>
                            <th>Açıklama</th>
                            <th>İşlem</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var payment in Model.PaymentListWithRelatedTables)
                        {
                            <tr name="@payment.Id">
                                <td>@payment.Id</td>
                                <td>@payment.AmountPaid | TL</td>
                                <td>@payment.CustomerId | @payment.CustomerName</td>
                                <td>@payment.EmployeeId | @payment.EmployeeName </td>
                                <td>@payment.PaymentTypeTitle</td>

                                <td>özellk kalkacak.</td>
                                <td>özllk kalkaiblir</td>
                                <td>@(payment.Description == null ? "Not Eklenmemiş" : (payment.Description.Length > 75 ? payment.Description.Substring(0, 75) : payment.Description))</td>
                                <td>
                                    @await Component.InvokeAsync("UpdatePageButtons", new UpdatePageButtonsModel
                            {
                            Id=payment.Id,
                            InMainPage=0,
                            TableType=ViewBag.tableType,
                            Action="Update",
                            Controller="Payment"
                            })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-3">
        @Model.Message <br />
        Dashboard sayfasına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="Customer" asp-action="Index">tıklayınız.</a>
    </div>
}
@section Scripts
    {
    <script src="~/AdminArea/js/paymentScripts/paymentIndex.js" type="application/ecmascript"></script>
    <script>
        $(document).ready(function () {
            $('#btnAdd').click(function () {
                // ViewBag.TableType değişkeninin değerini burada alıyoruz
                var tableType = '@ViewBag.TableType';
                // Add action'ına tableType parametresini yollamak için, Url.Action fonksiyonunun
                // ikinci parametresine ekleyebilirsiniz
                window.location.href = '@Url.Action("Add", "Payment")' + '?tableType=' + encodeURIComponent(tableType);
            });
        });
    </script>
}
