@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@model MyBlog.Mvc.Areas.Admin.Models.PaymentUpdateViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "_Layout";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Employee" asp-action="Index">Personeller</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Employee" asp-action="Add">Ekle</a></li>
</ol>
<form asp-controller="Payment" asp-action="Update" method="post" enctype="multipart/form-data">
    <div class="row mt-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Bilgiler
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="CreatedByName" value="@Model.CreatedByName" />
                    <input type="hidden" asp-for="Customers" value="@Model.Customers" />
                    <input type="hidden" asp-for="Employees" value="@Model.Employees" />
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="Description"></label>
                            <textarea id="text-editor" class="form-control" asp-for="Description" placeholder="Açıklama.."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="AmountPaid"></label>
                            <input type="number" id="amount" class="form-control" placeholder="Miktar" asp-for="AmountPaid" />
                            <span asp-validation-for="AmountPaid" class="text-danger"></span>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Tipler
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="customersList" asp-for="Customers"></label>
                        <select id="customeList" class="form-control" asp-for="CustomerId" asp-items="@(new SelectList(Model.Customers,"Id","FirstName"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="employeesList" asp-for="Employees"></label>
                        <select id="employeesList" class="form-control" asp-for="EmployeeId" asp-items="@(new SelectList(Model.Employees,"Id","FirstName"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="paymentTypesList" asp-for="PaymentTypes"></label>
                        <select id="paymentTypesList" class="form-control" asp-for="PaymentTypeId" asp-items="@(new SelectList(Model.PaymentTypes,"Id","Title"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="associatedInstitutionsList" asp-for="AssociatedInstitutions"></label>
                        <select id="associatedInstitutionsList" class="form-control" asp-for="AssociatedInstitutionsId" asp-items="@(new SelectList(Model.AssociatedInstitutions,"Id","Title"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="AssociatedInstitutionsId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @await Component.InvokeAsync("UpdatePageButtons", new UpdatePageButtonsModel
                        {
                        Id=Model.Id,
                        InMainPage=1,
                        InUpdate=1,
                        TableType=ViewBag.tableType,
                        Action="Update",
                        Controller="Payment"
                        })
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("ModifiedDetailsInfo", new ModifiedDetailsInfoModel
        {
        CreatedByName = Model.CreatedByName,
        CreatedDate = Model.CreatedDate,
        ModifiedByName = Model.ModifiedByName,
        ModifiedDate = Model.ModifiedDate
        })
    </div>
</form>
<script>
    document.getElementById('paymentTypesList').addEventListener('change', function () {
        // Seçenek değiştiğinde yapılacak işlemleri buraya yazabilirsiniz
        // Örneğin, seçilen değeri almak için:
        var selectedValue = this.value;

        // İşlemlerinizi burada gerçekleştirin
    });
</script>
@section Scripts
    {

    <script src="~/AdminArea/js/paymentScripts/paymentAddIndex.js" type="application/ecmascript"></script>

}
@section Styles
    {

}