@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@using MyBlog.Services.Utilities;
@using MyBlog.Shared.Utilities.Results.ComplexTypes;
@model MyBlog.Entities.Dtos.EmployeeDtos.EmployeeListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Hastalar";
}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
<ol class="breadcrumb mb-r mt-2">
    <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Employee" asp-action="Index">Çalışanlar</a></li>
</ol>
@if (Model.ResultStatus == ResultStatus.Success)
{
    <input type="hidden" id="tableType" value="@ViewBag.TableType" />

    <div id="modalPlaceHolder" aria-hidden="true"></div> @*id verme sebebimiz, divi seçip divin içine partial view verecek olmamısz*@
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Hastalar
        </div>
        <div class="card-body">
            <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Yükleniyor...</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="employeesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Telefon Numarası</th>
                            <th>E-Posta</th>
                            <th>Not</th>
                            <th>Resim</th>
                            <th>Tip</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Telefon Numarası</th>
                            <th>E-Posta</th>
                            <th>Hakkında</th>
                            <th>Resim</th>
                            <th>Tip</th>
                            <th>İşlem</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var employee in Model.EmployeeListWithRelatedTables)
                        {
                            <tr name="@employee.Id">
                                <td>@employee.Id</td>
                                <td>@employee.FirstName</td>
                                <td>@employee.LastName</td>
                                <td>@employee.Phone</td>
                                <td>@employee.Email</td>
                                <td>@(employee.About == null ? "Hakkında Eklenmemiş" : (employee.About.Length > 100 ? employee.About.Substring(0, 100) : employee.About))</td>
                                <td><img src="~/img/@employee.Picture" alt="@employee.FirstName" class="my-image-table" /></td>
                                <td>@employee.EmployeeTypeId | @employee.EmployeeTypeTitle</td>
                                <td>
                                    @await Component.InvokeAsync("UpdatePageButtons", new UpdatePageButtonsModel
                            {
                            Id=employee.Id,
                            InMainPage=0,
                            TableType=ViewBag.tableType,
                            Action="Update",
                            Controller="Employee"
                            })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-3">
        @Model.Message <br />
        Dashboard sayfasına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="Customer" asp-action="Index">tıklayınız.</a>
    </div>
}
@section Scripts
    {
    <script src="~/AdminArea/js/employeeScripts/employeeIndex.js" type="application/ecmascript"></script>
    <script>
$(document).ready(function () {
    $('#btnAdd').click(function () {
        // ViewBag.TableType değişkeninin değerini burada alıyoruz
        var tableType = '@ViewBag.TableType';

        // Add action'ına tableType parametresini yollamak için, Url.Action fonksiyonunun
        // ikinci parametresine ekleyebilirsiniz
        window.location.href = '@Url.Action("Add", "Employee")' + '?tableType=' + encodeURIComponent(tableType);
    });
});
    </script>
}
