@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@using MyBlog.Services.Utilities;
@using MyBlog.Shared.Utilities.Results.ComplexTypes;
@model MyBlog.Entities.Dtos.ProductDtos.ProductListDto;
@{
    Layout = "_Layout";
    ViewBag.Title = "Ürünler";
}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
@await Component.InvokeAsync("BreadCrumbs", new BreadCrumbsViewModel
{
        Depth = 2,
        Controller = "Product",
        ControllerTr = "Ürünler",
        Action = "Yok",
        ActionTR = "Yok",
        TableType = ViewBag.TableType
})
@if (Model.ResultStatus == ResultStatus.Success)
{
    <input type="hidden" id="tableType" value="@ViewBag.TableType" />
    <div id="modalPlaceHolder" aria-hidden="true"></div> @*id verme sebebimiz, divi seçip divin içine partial view verecek olmamısz*@
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Satışlar
        </div>
        <div class="card-body">
            <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Yükleniyor...</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="productsTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Adı</th>
                        <th>Seri Numarası</th>
                        <th>Marka</th>
                        <th>Alt Grup Adı</th>
                        <th>Not</th>
                        <th>Fiyat</th>
                        <th>Stok</th>
                        <th>İşlem</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Adı</th>
                        <th>Seri Numarası</th>
                        <th>Marka</th>
                        <th>Alt Grup Adı</th>
                        <th>Not</th>
                        <th>Fiyat</th>
                        <th>Stok</th>
                        <th>İşlem</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var product in Model.ProductListWithRelatedTables)
                    {
                        <tr name="@product.Id">
                            <td>@product.Id</td>
                            <td>@product.ProductName </td>
                            <td>@product.SerialNumber </td>
                            <td>@product.BrandTitle</td>
                            <td>@product.ProductSubGroupTitle</td>
                            <td>@product.Note</td>
                            <td>
                                <span id="priceSpan">@{
                                                         if (product.Price != 0)
                                                         {
                                                             @product.Price
                                                             ;
                                                         }
                                                         else
                                                         {
                                                             <span style="color: red;">Fiyat Girilmemiş</span>
                                                         }
                                                     }</span>
                            </td>

                            <td>1 | konuşulacak</td>



                            <td>
                                @await Component.InvokeAsync("UpdatePageButtons", new UpdatePageButtonsModel
                                       {
                                           Id=product.Id,
                                           InMainPage=0,
                                           TableType=ViewBag.tableType,
                                           Action="Update",
                                           Controller="Product"
                                       })
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
}

@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-3">
        @Model.Message <br />
        Dashboard sayfasına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="Customer" asp-action="Index">tıklayınız.</a>
    </div>
}
@section Scripts
    {
    <script src="~/AdminArea/js/productIndex.js" type="application/ecmascript"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $('#btnAdd').click(function () {
                // ViewBag.TableType değişkeninin değerini burada alıyoruz
                var tableType = '@ViewBag.TableType';
                // Add action'ına tableType parametresini yollamak için, Url.Action fonksiyonunun
                // ikinci parametresine ekleyebilirsiniz
                window.location.href = '@Url.Action("Add", "Product")' + '?tableType=' + encodeURIComponent(tableType);
            });
        });

    </script>
}
