@using MyBlog.Services.Utilities;
@model MyBlog.Mvc.Areas.Admin.Models.SingleModels.UpdatePageButtonsModel

<div class="form-group row justify-content-center">
    @if (ViewBag.TableType == TableReturnTypesConstants.NonDeletedTables)
    {
        <button class="btn btn-primary btn-sm btn-update" data-id="@Model.Id"><span class="fas fa-edit"></span></button>
    }
    <button title="Sil" class="btn btn-danger btn-sm btn-delete" data-id="@Model.Id" data-tableType="@ViewBag.tableType"><span class="fas fa-minus-circle"></span></button>
    @if (ViewBag.TableType == TableReturnTypesConstants.DeletedTables)
    {
        <a class="btn btn-warning btn-sm btn-undo" data-id="@Model.Id" data-inUpdate="1" data-tableType="@ViewBag.tableType"><span class="fas fa-undo"></span></a>
    }
</div>