@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@using MyBlog.Shared.Utilities.Results.ComplexTypes;
@model MyBlog.Entities.Dtos.ExpenseDtos.ExpenseListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Hasta Referansları";
}

@await Component.InvokeAsync("BreadCrumbs", new BreadCrumbsViewModel
       {
           Depth = 2,
           Controller = "Brand",
           ControllerTr = "Markalar",
           Action = "Yok",
           ActionTR = "Yok",
           TableType = ViewBag.TableType
       })
<style>
    body {
        margin: 0;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .header {
        background-color: #f1f1f1;
        padding: 30px;
        text-align: center;
    }

    #navbar {
        overflow: hidden;
        background-color: #333;
    }

        #navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

            #navbar a:hover {
                background-color: #ddd;
                color: black;
            }

            #navbar a.active {
                background-color: #04AA6D;
                color: white;
            }

    .content {
        padding: 16px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

        .sticky + .content {
            padding-top: 60px;
        }
</style>
@if (Model.ResultStatus == ResultStatus.Success)
{
    <input type="hidden" id="tableType" data-tableType="@ViewBag.TableType" value="@ViewBag.TableType" />
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Markalar
        </div>
        <div class="card-body">
            <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Yükleniyor...</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered datatable" id="expensesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tarih</th>
                            <th>Saat</th>
                            <th>İlgili Kişi</th>
                            <th>Tutar</th>
                            <th>Gelir | Gider</th>  
                            <th>Günlük | Genel</th>
                            <th class="dt-button-col">İşlemler</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tarih</th>
                            <th>Saat</th>
                            <th>İlgili Kişi</th>
                            <th>Tutar</th>
                            <th>Gelir | Gider</th>
                            <th>Günlük | Genel</th>
                            <th class="dt-button-col">İşlemler</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var expense in Model.Expenses)
                        {
                            <tr name="@expense.Id" class="@(expense.IsIncome ? "income-row" : "expense-row")">
                                <td>@expense.Id</td>
                                <td>@expense.CreatedDate.ToShortDateString() </td>
                                <td>@expense.CreatedDate.TimeOfDay.ToString("hh\\:mm") </td>
                                <td>@expense.CreatedByName</td>
                                <td>@expense.Amount</td>
                                <td>@(expense.IsIncome ? "Gelir" : "Gider")</td>
                                <td>@(expense.IsDaily ? "Günlük" : "Genel")</td>
                                <td class="dt-button-col">
                                    @await Component.InvokeAsync("UpdatePageButtons", new UpdatePageButtonsModel
                            {
                            Id = expense.Id,
                            TableType = ViewBag.tableType,
                            })
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
                <div class="total-section col-md-10" style="position: fixed; bottom: 0; left: 0; right: 0;">
                    <div class="total-box green" style="display: inline-block;">
                        <div class="total-label">Toplam Gelir</div>
                        <div class="total-amount" id="totalIncome"></div>
                    </div>
                    <div class="total-box red" style="display: inline-block;">
                        <div class="total-label">Toplam Gider</div>
                        <div class="total-amount" id="totalExpense"></div>
                    </div>
                    <div class="total-box green" style="display: inline-block;">
                        <div class="total-label">Günlük Gelir</div>
                        <div class="total-amount" id="dailyTotalIncome"></div>
                    </div>
                    <div class="total-box red" style="display: inline-block;">
                        <div class="total-label">Günlük Gider</div>
                        <div class="total-amount" id="dailyTotalExpense"></div>
                    </div>
                    <div class="total-box green" style="display: inline-block;">
                        <div class="total-label">Genel Gelir</div>
                        <div class="total-amount" id="overallTotalIncome"></div>
                    </div>
                    <div class="total-box red" style="display: inline-block;">
                        <div class="total-label">Genel Gider</div>
                        <div class="total-amount" id="overallTotalExpense"></div>
                    </div>
                </div>

            </div>
        </div>




    </div>

}
@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-3">
        @Model.Message <br />
        Dashboard sayfasına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="customerType" asp-action="Index">tıklayınız.</a>
    </div>
}

@section Scripts
    {
    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <script src="~/AdminArea/js/expenseIndex.js" type="application/ecmascript"></script>
}

