@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@using MyBlog.Services.Utilities;
@using MyBlog.Shared.Utilities.Results.ComplexTypes
@model MyBlog.Mvc.Areas.Admin.Models.SingleModels.DashboardViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Yönetim Paneli | Dashboard";
}
@*<div class="container-fluid">*@
<ol class="breadcrumb mb-r mt-2">
    <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Yönetim Paneli</a></li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Satışlar (@Model.SalesCount)</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Sale" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Detaylar</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Randevular | Günün Geri Kalanında(@Model.AppointmentsCount)</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Appointment" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Detaylar</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                <span>Gelir(@Model.ExpensesIncomeCount)</span>
                <span>/</span>
                <span>Gider(@Model.ExpensesOutcomeCount)</span>
                <span class="text-danger">Son 7 gün</span>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Expense" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Detaylar</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Kullanıcılar(@Model.UsersCount)</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="Admin" asp-controller="User" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Detaylar</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                Genel Gelir-Gider Tablosu | Son 1 Ay
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Bu bir chat örneği
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>




<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered datatable" id="expensesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tutar</th>
                        <th>Gelir | Gider</th>
                        <th>Günlük | Genel</th>
                        <th class="dt-button-col">Tarih</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tutar</th>
                        <th>Gelir | Gider</th>
                        <th>Günlük | Genel</th>
                        <th class="dt-button-col">Tarih</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var expense in Model.Expenses.Expenses)
                    {
                        <tr name="@expense.Id" class="@(expense.IsIncome ? "income-row" : "expense-row")">
                            <td>@expense.Id</td>
                            <td>@expense.Amount</td>
                            <td>@(expense.IsIncome ? "Gelir" : "Gider")</td>
                            <td>@(expense.IsDaily ? "Günlük" : "Genel")</td>
                            <td>@expense.CreatedDate.ToString("dd.MM.yyyy HH:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/AdminArea/js/homeIndex.js" type="application/ecmascript"></script>
    @*<script src="~/AdminArea/js/expenseIndex.js" type="application/ecmascript"></script>*@
}