@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@model MyBlog.Mvc.Areas.Admin.Models.SaleUpdateViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "_Layout";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Employee" asp-action="Index">Personeller</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Employee" asp-action="Add">Ekle</a></li>
</ol>

<form asp-controller="Sale" asp-action="Update" method="post" enctype="multipart/form-data">
    <div class="row mt-2">
        <div class="col-md-8">
            <div class="card">fkkbd
                <div class="card-header">
                    Bilgiler
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="Customers" value="@Model.Customers" />
                    <input type="hidden" asp-for="Employees" value="@Model.Employees" />
                    <input type="hidden" asp-for="Products" value="@Model.Products" />
                    <input type="hidden" asp-for="SaleTypes" value="@Model.SaleTypes" />
                    <input type="hidden" asp-for="SaleStatuses" value="@Model.SaleStatuses" />
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group col-md-6">
                        <input type="number" id="Amount" class="form-control" placeholder="Tutar" asp-for="Amount" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="number" id="amountOfSgk" class="form-control" placeholder="Sgk Tutarı" asp-for="AmountOfSgk" />
                        <span asp-validation-for="AmountOfSgk" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Tipler
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="employeeList" asp-for="Employees"></label>
                        <select id="EmployeeList1" class="form-control" asp-for="EmployeeId" asp-items="@(new SelectList(Model.Employees,"Id","FirstName"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="customersList" asp-for="Customers"></label>
                        <select id="customersList1" class="form-control" asp-for="CustomerId" asp-items="@(new SelectList(Model.Customers,"Id","FirstName"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="productsList" asp-for="Products"></label>
                        <select id="productsList1" class="form-control" asp-for="ProductId" asp-items="@(new SelectList(Model.Products,"Id","ProductName"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="saleTypesList" asp-for="SaleTypes"></label>
                        <select id="saleTypesList1" class="form-control" asp-for="SaleTypeId" asp-items="@(new SelectList(Model.SaleTypes,"Id","Title"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="SaleTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="salestatusesList" asp-for="SaleStatuses"></label>
                        <select id="saleStatusesList1" class="form-control" asp-for="SaleStatusId" asp-items="@(new SelectList(Model.SaleStatuses,"Id","Title"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="SaleStatusId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @await Component.InvokeAsync("UpdatePageButtons", new UpdatePageButtonsModel
                        {
                        Id=0,
                        InMainPage=1,
                        TableType=ViewBag.tableType,
                        Action="Update",
                        Controller="Sale"
                        })
                    </div>
                        @await Component.InvokeAsync("ModifiedDetailsInfo", new ModifiedDetailsInfoModel
                        {
                        CreatedByName = Model.CreatedByName,
                        CreatedDate = Model.CreatedDate,
                        ModifiedByName = Model.ModifiedByName,
                        ModifiedDate = Model.ModifiedDate
                        })
                </div>
            </div>
        </div>
    </div>




</form>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/trumbowyg.min.js" integrity="sha512-sffB9/tXFFTwradcJHhojkhmrCj0hWeaz8M05Aaap5/vlYBfLx5Y7woKi6y0NrqVNgben6OIANTGGlojPTQGEw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/langs/tr.min.js" integrity="sha512-+HGzdrYvtA0U9cp5kJad8OpjTvUi6ywZ9z9kXFGiV3EaAR1II5X6lfulUm6/F9GKesHW+jHFfAqwXK0juybvMw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/colors/trumbowyg.colors.min.js" integrity="sha512-iT7g30i1//3OBZsfoc5XmlULnKQKyxir582Z9fIFWI6+ohfrTdns118QYhCTt0d09aRGcE7IRvCFjw2wngaqRQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/emoji/trumbowyg.emoji.min.js" integrity="sha512-C1y8Ma4rukPZAgoB+9AWiKNMWXvWXGDygpcYuL/lM3YKUcZLUgFwF8brKYML73a5YeZ4y7hmY3604Tzx4f4k0Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/fontfamily/trumbowyg.fontfamily.min.js" integrity="sha512-tDDpWlhruXFSzPin7PeSOo/ZklJv354ZUibgoTnthgO9lQUiNn4etCFGNwT4c3WUCZ1jWZgOVrXGMqiApe9sBg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/fontsize/trumbowyg.fontsize.min.js" integrity="sha512-DOJaq3OCe5hLSr73aQBMiJY4kc+L5UwessOl6g2oxyy7VDnZVWt+TgWVy2nh2ypf7bwoaxZmPnIMiRC5PNZecA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <script src="~/AdminArea/js/toolsScripts/select2.js" type="application/ecmascript"></script>
}
@section Styles
    {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/ui/trumbowyg.min.css" integrity="sha512-iw/TO6rC/bRmSOiXlanoUCVdNrnJBCOufp2s3vhTPyP1Z0CtTSBNbEd5wIo8VJanpONGJSyPOZ5ZRjZ/ojmc7g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/colors/ui/trumbowyg.colors.min.css" integrity="sha512-8dXb2ITE13jLrqqGDVTU8kKl9vHZI9E4TpZGyfhevHeF+/cWWA17wVj+SKX3+QHqZISiGihaCOyK3nA152ShDg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/emoji/ui/trumbowyg.emoji.min.css" integrity="sha512-T2q2UM7Pm3t6Fu0VTRcuVMuaQf3/wP1aFi+/NyvpoVV0VBxN1Pqlmq57Jfg1IPRQCfFQOPLKBwoXA28+1gd/Ow==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/select2@@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/jquery-ui.min.css" integrity="sha512-ug/p2fTnYRx/TfVgL8ejTWolaq93X+48/FLS9fKf7AiazbxHkSEENdzWkOxbjJO/X1grUPt9ERfBt21iLh2dxg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/theme.min.css" integrity="sha512-adRIgePtMQgAVB+Mfkhl+Nyva/WllWlFzJyyhYCjznU3Di+Z4SsYi1Rqsep11PYLpUsW/SjE4NXUkIjabQJCOQ==" crossorigin="anonymous" />
    <link href="~/AdminArea/css/select2-bootstrap4.min.css" rel="stylesheet" />

}