@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@model MyBlog.Mvc.Areas.Admin.Models.SaleUpdateViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "_Layout";
}
@await Component.InvokeAsync("BreadCrumbs", new BreadCrumbsViewModel
{
        Depth = 3,
        Controller = "Sale",
        ControllerTr = "Satışlar",
        Action = "Update",
        ActionTR = "Güncelle",
        TableType = ViewBag.TableType
})
<form asp-controller="Sale" asp-action="Update" method="post" enctype="multipart/form-data">
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Bilgiler
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="Customers" value="@Model.Customers" />
                    <input type="hidden" asp-for="Employees" value="@Model.Employees" />
                    <input type="hidden" asp-for="Products" value="@Model.Products" />
                    <input type="hidden" asp-for="SaleTypes" value="@Model.SaleTypes" />
                    <input type="hidden" asp-for="SaleStatuses" value="@Model.SaleStatuses" />
                    <input type="hidden" asp-for="SgkList" value="@Model.SgkList" />
                    <input type="hidden" asp-for="IsActive" value=true/>
                    <input type="hidden" asp-for="OldProductId" value=@Model.OldProductId/>
                    <input type="hidden" asp-for="CreatedByName" value="@Model.CreatedByName" />

                    <input type="hidden" asp-for="Id" />
                    <div class="form-group col-md-12">
                        <label asp-for="DownPayment"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">TL</span>
                            </div>
                            <input id="DownPayment" class="form-control" asp-for="DownPayment" value=@Model.DownPayment />
                            <span asp-validation-for="DownPayment" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Amount"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">TL</span>
                            </div>
                            <input id="Amount" class="form-control" asp-for="Amount" value=@Model.Amount />
                        </div>
                    </div>

                    @*   <div class="form-group col-md-12">
                    <label asp-for="AmountOfSgk"></label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text">TL</span>
                    </div><input type="number" id="amountOfSgk" class="form-control" asp-for="AmountOfSgk" value="" />
                    <span asp-validation-for="AmountOfSgk" class="text-danger"></span>
                    </div>
                    </div> *@
                    <div class="form-group col-md-12">
                        <label asp-for="Description"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Açıklama</span>

                            </div><input type="text-area" id="description" class="form-control" asp-for="Note" value="" />
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            @await Component.InvokeAsync("ModifiedDetailsInfo", new ModifiedDetailsInfoModel
            {
            CreatedByName = Model.CreatedByName,
            CreatedDate = Model.CreatedDate,
            ModifiedByName = Model.ModifiedByName,
            ModifiedDate = Model.ModifiedDate
            })
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Tipler
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Personel</span>
                            </div><select id="EmployeeList1" class="form-control" asp-for="EmployeeId" asp-items="@(new SelectList(Model.Employees,"Id","NameSurname"))">
                                <option></option>
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Hasta</span>
                            </div><select id="customersList1" class="form-control" asp-for="CustomerId" asp-items="@(new SelectList(Model.Customers,"Id","NameSurname"))">
                                <option></option>
                            </select>
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Ürün</span>
                            </div>
                            <select id="productsList1" class="form-control" asp-for="ProductId">
                                <option></option>
                                @foreach (var product in Model.ProductListWithRelatedTables)
                                {
                                    if (product.Quantity < 3)
                                    {
                                        if(product.Id == Model.ProductId)
                                        {
                                             <option value="@product.Id" data-isproduct="@product.IsProduct" selected>@product.SubTitleAndSerial | @product.Quantity</option>
                                        }
                                        else
                                        {
                                            <option value="@product.Id" data-isproduct="@product.IsProduct">@product.SubTitleAndSerial | @product.Quantity</option>
                                        }
                                    }
                                    else
                                    {
                                        if (product.Id == Model.ProductId)
                                        {
                                            <option value="@product.Id" data-isproduct="@product.IsProduct" selected>@product.SubTitleAndSerial</option>
                                        }
                                        else
                                        {
                                            <option value="@product.Id" data-isproduct="@product.IsProduct">@product.SubTitleAndSerial</option>
                                        }
                                        
                                    }
                                }
                            </select>
                           @*  <select id="productsList1" class="form-control" asp-for="ProductId" asp-items="@(new SelectList(Model.Products,"Id","SerialNumber"))">
                                <option></option>
                            </select>
                            <span asp-validation-for="ProductId" class="text-danger"></span> *@


                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Satış Tipi</span>
                            </div><select id="saleTypesList1" class="form-control" asp-for="SaleTypeId" asp-items="@(new SelectList(Model.SaleTypes,"Id","Title"))">
                                <option></option>
                            </select>
                            <span asp-validation-for="SaleTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Satış Durumu</span>
                            </div><select id="saleStatusesList1" class="form-control" asp-for="SaleStatusId" asp-items="@(new SelectList(Model.SaleStatuses,"Id","Title"))">
                                <option></option>
                            </select>
                            <span asp-validation-for="SaleStatusId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">SGK Türü</span>
                            </div><select id="sgkListList1" class="form-control" asp-for="SgkId"  asp-items="@(new SelectList(Model.SgkList,"Id","ParamValue"))">
                                <option></option>
                            </select>
                            <span asp-validation-for="SgkId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Teslim Edildi Mi</span>
                            </div>
                            <label class="toggle-switch">
                                <input type="checkbox" id="checkBox" class="form-check-input" asp-for="IsDelivered" />
                                <label for="checkBox" class="slider round"></label>
                            </label>
                        </div>
                       @*  <div class="col-md-6">
                            <div class="form-group">
                                <label for="datepicker" asp-for="DeliveryDate"></label>
                                <input type="text" id="DeliveryDate" class="form-control" asp-for="DeliveryDate" />
                                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                            </div>
                        </div> *@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="datepicker" asp-for="DeliveryDate"></label>
                                <input type="text" id="datetimepicker" class="form-control" value="" asp-for="DeliveryDate" />
                                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @await Component.InvokeAsync("UpdatePageButtons", new UpdatePageButtonsModel
                        {
                        Id=Model.Id,
                        InMainPage=1,
                        InUpdate=1,
                        TableType=ViewBag.tableType,
                        Action="Update",
                        Controller="Sale"
                        })
                     
                    </div>
                       
                </div>
            </div>
        </div>
    </div>




</form>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/langs/tr.min.js" integrity="sha512-+HGzdrYvtA0U9cp5kJad8OpjTvUi6ywZ9z9kXFGiV3EaAR1II5X6lfulUm6/F9GKesHW+jHFfAqwXK0juybvMw==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/tr.js"></script>
    <script src="~/AdminArea/js/toolsScripts/select2.js" type="application/ecmascript"></script>    <script src="~/AdminArea/js/toolsScripts/select2.js" type="application/ecmascript"></script>
    <script src="~/AdminArea/js/saleUpdate.js" type="application/ecmascript"></script>

}
@section Styles
    {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/ui/trumbowyg.min.css" integrity="sha512-iw/TO6rC/bRmSOiXlanoUCVdNrnJBCOufp2s3vhTPyP1Z0CtTSBNbEd5wIo8VJanpONGJSyPOZ5ZRjZ/ojmc7g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/colors/ui/trumbowyg.colors.min.css" integrity="sha512-8dXb2ITE13jLrqqGDVTU8kKl9vHZI9E4TpZGyfhevHeF+/cWWA17wVj+SKX3+QHqZISiGihaCOyK3nA152ShDg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/emoji/ui/trumbowyg.emoji.min.css" integrity="sha512-T2q2UM7Pm3t6Fu0VTRcuVMuaQf3/wP1aFi+/NyvpoVV0VBxN1Pqlmq57Jfg1IPRQCfFQOPLKBwoXA28+1gd/Ow==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/select2@@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/jquery-ui.min.css" integrity="sha512-ug/p2fTnYRx/TfVgL8ejTWolaq93X+48/FLS9fKf7AiazbxHkSEENdzWkOxbjJO/X1grUPt9ERfBt21iLh2dxg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/theme.min.css" integrity="sha512-adRIgePtMQgAVB+Mfkhl+Nyva/WllWlFzJyyhYCjznU3Di+Z4SsYi1Rqsep11PYLpUsW/SjE4NXUkIjabQJCOQ==" crossorigin="anonymous" />
    <link href="~/AdminArea/css/select2-bootstrap4.min.css" rel="stylesheet" />

}
<style>
    /* Select2 kutusunu özelleştir */
    .select2-container--default .select2-selection--single {
        border: 1px solid #ced4da; /* kenarlık rengini ayarla */
        border-radius: 0.25rem; /* kenarlık yuvarlaklığını ayarla */
        height: calc(1.5em + 0.75rem + 2px); /* yüksekliği ayarla */
        padding: 0.375rem 0.75rem; /* iç boşluğu ayarla */
    }

        /* Select2 ok işaretini özelleştir */
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: calc(1.5em + 0.75rem); /* ok işaretinin yüksekliğini ayarla */
            position: absolute;
            top: 50%;
            right: 0.75rem;
            transform: translateY(-50%);
        }

        /* Select2 seçim metnini özelleştir */
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #495057; /* metin rengini ayarla */
            line-height: 1.5; /* satır yüksekliğini ayarla */
        }

    /* Select2 açılır menü kenarlığını ve gölgesini özelleştir */
    .select2-dropdown {
        border: 1px solid #ced4da; /* kenarlık rengini ayarla */
        border-radius: 0.25rem; /* kenarlık yuvarlaklığını ayarla */
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175); /* kutu gölgesini ayarla */
    }

    .toplam-tutar {
        font-weight: bold;
        margin-top: 10px;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
        text-align: center;
    }

    .urun-listesi-item {
        margin-bottom: 10px;
        background-color: #f7f7f7;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .urun-cikar-buton {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

        .urun-cikar-buton:hover {
            background-color: #ff3333;
        }

    .checkbox-cell {
        text-align: center;
        vertical-align: middle;
        padding: 0;
    }

    .toggle-switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .toggle-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 22px; /* Yuvarlak kısımın yüksekliğini ayarlayın */
            width: 22px; /* Yuvarlak kısımın genişliğini ayarlayın */
            left: 4px; /* Sol konumlandırma */
            bottom: 4px; /* Alt konumlandırma */
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }


    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        transform: translateX(26px);
    }

    /* Estetik amaçlı ekstra stiller */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

</style>