@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@using MyBlog.Shared.Utilities.Results.ComplexTypes;
@model MyBlog.Entities.Dtos.CustomerReferanceDtos.CustomerReferanceListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Hasta Referansları";
}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
@await Component.InvokeAsync("BreadCrumbs", new BreadCrumbsViewModel
       {
           Depth = 2,
           Controller = "CustomerReferance",
           ControllerTr = "Hasta Referansları",
           Action = "Yok",
           ActionTR = "Yok",
           TableType = ViewBag.TableType
       })
@if (Model.ResultStatus == ResultStatus.Success)
{
    <input type="hidden" id="tableType" data-tableType="@ViewBag.TableType" value="@ViewBag.TableType" />
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Hastalar
        </div>
        <div class="card-body">
            <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Yükleniyor...</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="customerReferancesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Telefon Numarası</th>
                            <th>Açıklama</th>
                            <th>Not</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Telefon Numarası</th>
                            <th>Açıklama</th>
                            <th>Not</th>
                            <th>İşlemler</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var customerReferance in Model.CustomerReferances)
                        {
                            <tr name="@customerReferance.Id">
                                <td>@customerReferance.Id</td>
                                <td>@customerReferance.FirstName</td>
                                <td>@customerReferance.LastName</td>
                                <td>@customerReferance.Phone</td>
                                <td>@(customerReferance.Description == null ? "Not Eklenmemiş" : (customerReferance.Description.Length > 75 ? customerReferance.Description.Substring(0, 75) : customerReferance.Description))</td>
                                <td>@(customerReferance.Note == null ? "Not Eklenmemiş" : (customerReferance.Note.Length > 75 ? customerReferance.Note.Substring(0, 75) : customerReferance.Note))</td>
                                <td class="dt-button-col">
                                    @await Component.InvokeAsync("UpdatePageButtons", new UpdatePageButtonsModel
                            {
                            Id=customerReferance.Id,
                            TableType=ViewBag.tableType,
                            })


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-3">
        @Model.Message <br />
        Dashboard sayfasına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="CustomerReferance" asp-action="Index">tıklayınız.</a>
    </div>
}

@section Scripts
    {
    <script src="~/AdminArea/js/customerReferanceIndex.js" type="application/ecmascript"></script>
}

