@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@model MyBlog.Entities.Dtos.OutPaymentDetailDtos.OutPaymentDetailUpdateDto
<!-- Modal -->

<div class="modal fade" role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span class="fas fa-plus"></span>Hasta Tipi Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="İptal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Update" id="form-outPaymentDetail-update">
                    <input type="hidden" asp-for="CreatedByName" />
                    <input type="hidden" asp-for="OutPayments" />
                    <input type="hidden" asp-for="Employees" />
                    <input type="hidden" id="tableType" value="@ViewBag.tableType" />
                    <input type="hidden" asp-for="Id" /><input type="hidden" asp-for="Id" />
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Ödenen Tutar</label>
                            <span asp-validation-for="AmountPaid" class="text-danger"></span>

                            <div class="input-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">TL</span>
                                    </div>
                                    <input type="hidden" id="paymentAmountCurr" class="form-control" oninput="checkPaymentAmount()" asp-for="AmountPaid" />
                                    <input type="text" id="paymentAmount" class="form-control" oninput="checkPaymentAmount()" asp-for="AmountPaid"/>
                                    <div class="input-group-append">
                                        <button id="pay-full-amount-button" class="btn btn-primary" type="button" onclick="payFullAmount()">Tümünü Öde</button>
                                    </div>
                                </div>
                                <span class="text-danger" asp-validation-for="AmountPaid"></span>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Açıklama</span>
                            </div><input class="form-control" asp-for="Description" />
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Personel</span>
                            </div><select id="employeesList" class="form-control" asp-for="EmployeeId" asp-items="@(new SelectList(Model.Employees,"Id","FirstName"))">
                                <option></option>
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Dış Ödeme Yeri</span>
                            </div><select id="paymentList" class="form-control" asp-for="OutPaymentId" asp-items="@(new SelectList(Model.OutPayments,"Id","PaidPlace"))">
                                <option></option>
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
            @await Component.InvokeAsync("ModifiedDetailsInfo", new ModifiedDetailsInfoModel
            {
            CreatedByName = Model.CreatedByName,
            CreatedDate = Model.CreatedDate,
            ModifiedByName = Model.ModifiedByName,
            ModifiedDate = Model.ModifiedDate
            })


            @await Component.InvokeAsync("PartialButtons", new PartialButtonsModel
            {
            Id=Model.Id,
            TableType=ViewBag.tableType,
            })
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            var isSpecificPage = @Json.Serialize(ViewBag.IsSpecificPage); // ViewBag üzerinden alınan IsSpecificPage değeri

            if (isSpecificPage) {
                $('#pay-full-amount-button').hide(); // pay-full-amount-button düğmesini gizle
            }
        });
    </script>
}


